name: Setup Roy Kent
on: workflow_dispatch

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install PyGithub
      - run: python $GITHUB_WORKSPACE/.github/setup_roy_kent_repo.py
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
